// bower:less
@import "../components/bootstrap/less/bootstrap.less";
@import "../components/font-awesome/less/font-awesome.less";
// endbower

@import "./variables.less";

html, body {
  height: 100%;
}

#compass_contianer {
    .compass {
        width: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -50px;  
        margin-left: -50px;
    }

    .lead {
        text-align: center;
    }

    .hint, .answer {
        display: none;
    }
}



.content {
    padding-top: 70px;
}

.cute_img {
    margin: auto;
}

#refresh {
    margin-top: 10px;
}

.cute_row {
    text-align: center;
}

.right, .wrong {
    display: none;
}

 