<footer id="contact" class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul class="list-inline pull-right">
            </ul>
        </div>
    </div>
</footer>