<div class="container-fluid content">
    <section class="row">
        <div class="col-md-12 cute_row">
	        <img src="{{img}}" class="img-responsive cute_img"/>
	        <button id="refresh" type="button" class="btn btn-primary">moar gifs</button>
	    </div>
    </section>
</div>