<div class="container-fluid content">
    <section class="row">
        <div class="col-md-12 ">
	        <p class="lead">To get find where I am, answer this riddle (only use this if you really need to)</p>
	        <p>Do I like you or do I hate you?</p>
	    </div>
    </section>
    <section class="row">
        <div class="col-md-12 ">
	        <form id="riddle">
			  <div class="form-group">
			    <input type="text" class="form-control" id="answer" placeholder="its not what you think, or is it...?">
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
	    </div>
    </section>
    <section class="row">
        <div class="col-md-12">
	        <h2 class="lead right">Music Box Theatre Lounge, 3733 N Southport Ave</h2>
	        <h2 class="lead wrong">Wrong! Try again</h2>
	    </div>
    </section>
</div>