<div id="home_page" class="container-fluid content">
    <section id="about" class="row">
        <div class="col-xs-3">
	        <p id="demo">00</p>
	        <p class="degrees">00</p>
	        <p class="compass">^</p>
	    </div>
    </section>
</div>