<div id="home_page" class="container-fluid content">
    <section id="compass_contianer" class="row">
        <div class="col-md-12">
        	<p class="lead">Follow the arrow!</p>
        	<p class="lead hint">Text me if you get lost...</p>
	        <img src="img/arrow.png" class="compass"/>
	    </div>
    </section>
</div>